.site-header {
    background-color: #f3f6f4;
}
.site-header a {
	color: #3d57d0;
}

.site-footer .wrap {
	font-family: Mukta, sans-serif;
}

.widgettitle.widget-title  {
	font-size: 1.2em;
}
.front-page-1 p {
	font-size: 1.5em;
}
.front-page-2 p {
	font-size: ;
}
html:not([data-scroll=""]) .site-header {
  background-color: #f3f6f4;
}
/*front page hero*/
.front-page-1 .image-section{
	background: ; 
	margin-bottom: -20rem;
}

.site-header a {
	color: ;
	font-weight: bold;
}

/*front page hero text overlay*/
.front-page-1 .widget-wrap{
	margin-top: -12.5rem;
}

.front-page #genesis-mobile-nav-primary {
	background-color: #f3f6f4;
}
.front-page .sub-menu-toggle {
	background-color: #f3f6f4;
}

.menu-toggle {
	background: #f3f6f4;
	color: #3d57d0;
}
.genesis-nav-menu .sub-menu a{
	background-color: #f3f6f4;
}

.sub-menu a:hover{
	background-color: grey !important;
}

.sub-menu-toggle {
  background: lightgray;
}

.sidebar {
	background: ;
	padding: ;
	padding-bottom: ;
}

.cli-bar-container {
	font-family: Mukta, sans-serif;
}

.JTA-social-icons {
display: flex;
align-items: center;
justify-content: center;
}

.JTA-social-icons .fa{
	padding: .9rem;
	font-size: 1.2em;
	width: 3.5rem;
	text-align: center;
	text-decoration: none;
  margin: .35rem;
  background: #3d57d0;
  color: white;
  border-radius: 10%;
}

.JTA-social-icons .fa:hover {
	opacity: 0.7;
	background: #00afa9;
	color: white;
}

body {
	background-color: ;
}

h1 {
	text-align: center; 
}

h2 {
	font-size: 1.7em;
	text-align: left;
}

h3 {
	font-size: 1.3em;
}

.entry-content dd {
  display: list-item;
  list-style-type: "-";
	padding-left: 1rem;
	font-size: 1.7rem;
}

ul {
	font-size: .9em;
}

p {
	font-size: .9em;
}


/*News*/
.post-thumbnail {
  width: 65%;
  height: auto;
}
/*Resources*/ 


/*Resources - Articles*/

.article-wrapper .container{
	display:grid;
	grid-template-areas:
		'title title date'
		'description description date';
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2em;
	margin-bottom: 2em;
}

.article-wrapper p{
	margin: 0;
}
.organizations-wrapper p{
	margin: 0;
}
.podcast-wrapper p{
	margin: 0;
}
.twitter-wrapper p{
	margin: 0;
}

.title {
	font-size: 1.2em;
}

.article-wrapper .content {
	margin-bottom:
}

/*Resources - Organizations*/

.organizations-wrapper .item{
	display:grid;
	grid-template-areas:
	'title title date'
	'description description date';
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

/*Resources - Podcasts*/

.podcast-wrapper .item{
	display:grid;
	grid-template-areas:
	'title title date'
	'author author date'
	'description description date';
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

/*Resources - Twitter*/

.twitter-wrapper .item{
	display:grid;
	grid-template-areas:
	'title title date'
	'description description date';
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 1rem;
}

/*Meet the Team*/

.team-wrapper .card {
	max-width: 12rem;
	margin: 1rem;
}

.team-wrapper .card p {
	margin: 0;
	padding: 0;
}
.team-wrapper .grid {
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.team-wrapper .card img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 10rem;
	height: 10rem;
	object-fit: cover;
}

.team-wrapper .name {
text-align: center;
	font-size: 1.25rem;
	font-weight: normal;
}

.team-wrapper .title {
text-align: center;
	font-size: .95rem;
}

.team-wrapper .company {
	text-align: center;
	font-size: .95rem;
}

.team-wrapper .socialbar {
		display: flex;
		justify-content: center;
}

.team-wrapper .fa {
	padding-left: .5rem;
}

html, body {
  overflow-x: hidden;
}

/* Leadership */
.page-id-21 .wp-block-columns p {
	margin: .3em;
}

/*Staff*/

.staff-wrapper,
.advisory-wrapper,
.board-directors-wrapper{
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}

/*Board of Directors*/
.board-directors-wrapper .grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

/*Advisory Board */

.advisory-wrapper .tagline {
	text-align: center;
}
.advisory-wrapper .fa {
	padding-left: .5rem;
}

.advisory-wrapper .grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.advisory-wrapper .card {
	max-width: 10rem;
	min-height: 20;
	margin: 2rem;
}

.advisory-wrapper .card img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	border-radius: 100%;
	
}

.advisory-wrapper .card .name {
	text-align: center;
	margin-bottom: 0rem;
	font-size: 1.25rem;
	font-weight: normal;
}

.advisory-wrapper .card .title {
text-align: center;
	font-size: .95rem;
	margin-bottom: 0rem;
}

.advisory-wrapper .card .socialbar {
	  display: flex;
    justify-content: center;
    margin-top: 5rem
		bottom:0;
}
